name: Run Job Collector

on:
  workflow_dispatch: # Permet de lancer manuellement
  schedule:
    - cron: '0 * * * *' # S'exécute toutes les heures

jobs:
  build-and-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml httpx python-dotenv beautifulsoup4 lxml spacy langdetect numpy
          python -m spacy download fr_core_news_md
          python -m spacy download en_core_web_md
          
      - name: Install Playwright and its browsers
        run: |
          pip install playwright
          python -m playwright install --with-deps

      - name: Run collector script
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python collector.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          # Vérifie s'il y a des changements avant de commiter pour ne pas créer de commits vides
          git diff-index --quiet HEAD || git commit -m "chore: Update jobs database"
          git push