name: Run Job Collector

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  build-and-commit:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/playwright/python:v1.55.0-jammy
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m spacy download fr_core_news_md
          python -m spacy download en_core_web_md

      - name: Run collector script
        timeout-minutes: 15
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          python collector.py
          cp storage/jobs.db ui/public/jobs.db

      - name: Generate timestamp file
        env:
          TZ: 'Europe/Paris'
        run: |
          date +"%d/%m/%Y %H:%M" > ui/public/last-update.txt

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || git commit -m "chore: Update jobs database and timestamp"
          git pull --rebase
          git push
